<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="../styles/style.css">    
</head>
<body class="text-center">

    <nav class="p-6 shadow-sm" style="background-color: rgb(247, 247, 247);"></nav>

    <aside style="display: flex; align-items: center; justify-content: center;">
        <img src="../icons/512x512.png" width="100" height="100"> 
        <h1 class="text-4xl text-gray-600">
           Todo Items...
        </h1>
    </aside>

    <p class="text-md text-gray-400">
        here are the list of things that need to be done!.
    </p>
    
    <button class="shadow-xl rounded-2xl shadow-blue-500 p-4 mt-4 bg-blue-500 text-white">Edit List!</button>
  
    <section class="shadow-xl"></section>

    <div id="closeBtn" class="text-xs p-2 m-2 rounded-full shadow-lg cursor-pointer fixed top-0 right-0 bg-white z-10" style="width: fit-content; -webkit-app-region: no-drag;">❌</div>
    <div id="maxBtn" class="text-xs p-2 m-2 rounded-full shadow-lg cursor-pointer fixed top-0 right-10 bg-white z-10" style="width: fit-content; -webkit-app-region: no-drag;">🔲</div>
    <div id="minBtn" class="text-xs p-2 m-2 rounded-full shadow-lg cursor-pointer fixed top-0 right-20 bg-white z-10" style="width: fit-content; -webkit-app-region: no-drag;">➖</div>

    <script src="../scripts/home.js"></script>

</body>
</html>