<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="../styles/style.css">    
</head>
<body class="text-center" style="overflow:hidden;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>

    <nav class="p-6 shadow-sm" style="background-color: rgb(247, 247, 247);"></nav>

    <aside style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <h1 class="text-4xl text-gray-600 p-4">
           Chat App
        </h1>
    </aside>

    <p style="color: rgb(177, 184, 190);">Write your messages in the chat box below...</p>

    <div class="videos-flex" style="display: flex; flex-wrap: wrap;">
        
    </div>

    <div class="totalTypers" style="width: 80%; height: 6%; margin: auto;">
    <!-- Dynamic Divs -->
    <!-- <div>
            <strong class="usertyping">
                'name of typer'
            </strong> is typing...
        </div> -->
    </div>

    <div id="closeBtn" class="text-xs p-2 m-2 rounded-full shadow-lg cursor-pointer fixed top-0 right-0 bg-white z-10 static" style="width: fit-content;">❌</div>
    <div id="maxBtn" class="text-xs p-2 m-2 rounded-full shadow-lg cursor-pointer fixed top-0 right-10 bg-white z-10 static" style="width: fit-content;">🔲</div>
    <div id="minBtn" class="text-xs p-2 m-2 rounded-full shadow-lg cursor-pointer fixed top-0 right-20 bg-white z-10 static" style="width: fit-content;">➖</div>

    <!-- <div class="flex flex-col fixed bottom-0 right-0 left-0">
        <input type="text" class="shadow-xl p-4 text-center" style="border: 1px rgb(192, 192, 192) solid;" placeholder="Write Your Message.." id="message">
        <button class="shadow-xl shadow-blue-500 p-4 bg-blue-500 text-white" id="send">Send Message</button>
    </div> -->

    <div style="display: flex;">
        <img id="darab" alt="">
        <img id="zaryab" alt="">
    </div>

    <script src="../scripts/video.js"></script>

</body>
</html>